extends index

block title
    title 全部日记

block content
	section
		h1= "这里共有%s篇日记" %(d.get_data(types="post", return_count=true, with_page=false))
		a.all(href='/') 返回首页
		ul: for category in posts.categories: li
			a(href=category.url)= category.title + '年'
			span= '%s篇' %category.posts_count