extends index

block title
	title= posts.category.title + '年的日记'

block content
	+posts.set_min_per_page(366)

	section
		h1= posts.category.title + '年共有%s篇日记' %(d.get_data(types='post', path=posts.category.filename, return_count=true, with_page=false))
		a.all(href='/archive') 全部日记
		a.all(href='/') 返回首页
		ul: for post in posts: li
			a(href=post.url)= post.date.format('%x')