html
    head
		+h.headers
		+load('font')
		+h.load('/template/style.scss', 'jquery')

		block title
			title= site.title

	body
		.wrapper
			header.site
				+font('chaomingti')
					h1.title
						a(href='/')= site.title
				.description: site.configs.sub_title

			nav
				+site.just_nav

			#layout
				block content

			footer
				.leftfoot
					+site.socials
					+posts.search_in_html()
				.rightfoot
					.credit
						span
							| &copy; {{site.now.year}} {{site.title}}
							| {{'{0:,}'.format(d.get_data(types="post", return_count=true, with_page=false))}}篇文章
							| {{'{0:,}'.format(site.text_words)}}字
						span Theme 
							a(href='https://blog.shuiba.co/bitcron-theme-ordinary') 「庸」
							| by Shuibaco
						span
							| Powered by 
							a(href='https://bitcron.com', target='_blank') Bitcron


	+h.back_to_top(label="▲")